body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.image_box {
  display: inline-block;
  width: 110px;
  height: 110px;
}

.image {
  width: 100px;
  height: 100px;
}

.image_selected {
  border: 3px solid #ff00ff;
}

#loader {
  display: none;
}

#gifs {
  display: inline-block;
}

#loader_box {
  display: inline-block;
}

#gif_delay {
  width: 400px;
}

#gif_sim {
  width: 400px;
  height: 400px;
}
